<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/dropzone.css">
    <script type="text/javascript" src="/javascripts/dropzone.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
      <div class="jumbotron">
          <h1 class="display-3">Thêm dữ liệu</h1>
          <p class="lead">Vào mongodb</p>
          <hr class="my-2">
          <p class="lead">
              <a class="btn btn-primary btn-lg" href="/" role="button">Jumbo action name</a>
          </p>
          <div class="upload">
              
        
        <form id="upload-widget" method="post" action="/upload" class="dropzone">
        </form>
        <%data.forEach(function(pt){
             %>
        <form action="/sua/<%=pt._id %>"  method="post">
        <div class="form-group">
        <label for="name">Tên sản phẩm</label>
        <input type="text"
            class="form-control" name="name" id="" aria-describedby="helpId" placeholder="" value="<%=pt.name %>">
        <small id="helpId" class="form-text text-muted">Điền tên sản phẩm</small>
        </div>
        <div class="form-group">
        <label for="code">Mã sản phẩm</label>
        <input type="text"
            class="form-control" name="code" id="" aria-describedby="helpId" placeholder="" value="<%=pt.code %>">
        <small id="helpId" class="form-text text-muted">Điền mã sản phẩm</small>
        </div>
        <div class="form-group">
        <label for="sl">Số lượng sản phẩm</label>
        <input type="text"
            class="form-control" name="sl" id="" aria-describedby="helpId" placeholder="" value="<%=pt.sl %>">
        <small id="helpId" class="form-text text-muted">Điền số lượng sản phẩm</small>
        </div>
        <div class="form-group">
        <label for="price">Giá sản phẩm</label>
        <input type="text"
            class="form-control" name="price" id="" aria-describedby="helpId" placeholder="" value="<%=pt.price %>">
        <small id="helpId" class="form-text text-muted">Điền giá sản phẩm</small>
        </div>
        <div class="form-group">
        <label for="mt">Mô tả sản phẩm</label>
        <input type="text"
            class="form-control" name="mt" id="" aria-describedby="helpId" placeholder="" value="<%=pt.mt %>">
        <small id="helpId" class="form-text text-muted">Mô tả sản phẩm</small>
        </div>                      
        <button type="submit" class="btn btn-success btn-block" >Thêm sản phẩm</button>
        </form>    
        <%}) %>        
            </div>
        </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>